<div class="container table">
<%= simple_form_for(candidate) do |f| %>
  <%= f.input :name, label: "姓名" %>
  <%= f.input :age, label: "年份" %>
  <%= f.input :party, label: "類型" %>
  <%= f.input :politics, label: "內容" %>
  <div class="container mt-5"></div>
  <%= f.submit :更新選項, class:"btn btn-success btn-xs" %>
<% end %>

</div>
<%
=begin%>
 <%= simple_form_for(@candidate) do |f| %>
  <%= f.input :name, label: "姓名" %>
  <%= f.input :age, label: "年份" %>
  <%= f.input :party, label: "類型" %>
  <%= f.input :politics, label: "內容" %>
  <%= f.submit :新增選項 %>
<% end %> 
<%
=end%>
