<div class="mt-5">
<h1>你最想要哪一款聚樂邦的遊戲？</h1>
<div class="mt-5">

<table class="table">
  <thead>
    <tr>
      <td>選項名稱</td>
      <td>年份</td>
      <td>類型</td>
      <td>內容</td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.age %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.politics %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="container mt-5">
  <%= link_to "前往投票", poll_candidates_path(@candidates),  data: { confirm: "確定要投票了？" }, class:"btn btn-primary btn-xs" %>
</div>

<script>
Rails.ajax({
  type: 'POST',                     //GET or POST
    url: "result_candidates_path",               //請求的頁面
    cache: false,                     //防止抓到快取的回應
    data: {todo:"ajaxexample1"},      //要傳送到頁面的參數
    success: functionSucceed,         //當請求成功後此事件會被呼叫
    error: functionFailed,            //當請求失敗後此事件會被呼叫
    statusCode: {                     //狀態碼處理
      404: function() {
        alert("page not found");
      }
    }
});
</script>






<br />