<div class="mt-5">
<h1>你最想要哪一款聚樂邦的遊戲？</h1>
<div class="mt-5">
<table class="table">
  <thead>
    <tr>
      <td>投票</td>
      <td>選項名稱</td>
      <td>年份</td>
      <td>類型</td>
      <td>內容</td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
    <tr>
      <td><%= link_to "投給這個", vote_candidate_path(candidate), method: "post", data: { confirm: "確定投下這一票?" }, class:"btn btn-danger btn-xs" %></td>
      <td><%= candidate.name %></td>
      <td><%= candidate.age %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.politics %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
<%# link_to "清空票數", @candidates.vote_logs.delete.all,  data: { confirm: "確定要刪除了？" }, class:"btn btn-danger btn-xs" %>

</div>
<script>
Rails.ajax({
  type: 'POST',                     //GET or POST
    url: "result_candidates_path",               //請求的頁面
    cache: false,                     //防止抓到快取的回應
    data: {todo:"ajaxexample1"},      //要傳送到頁面的參數
    success: functionSucceed,         //當請求成功後此事件會被呼叫
    error: functionFailed,            //當請求失敗後此事件會被呼叫
    statusCode: {                     //狀態碼處理
      404: function() {
        alert("page not found");
      }
    }
});
</script>

