<div class="mt-5">
<h1 class="container">投票結果</h1>
  <table class="table">
  <thead>
    <tr>
      <td>選項名稱</td>
      <td>年份</td>
      <td>類型</td>
      <td>內容</td>
      <td>得票數</td>
    </tr>
  </thead>
  <tbody>
    <% @candidate.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.age %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.politics %></td>
      <td><%= candidate.vote_logs.size %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
<div class="btn btn-light">
<%= link_to '回主畫面', candidates_path %>
</div>



<div class="mt-5">
<div class="mt-5">
<div class="mt-5">
<div class="mt-5">
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%
=begin%>
<div class="mt-5">
<% if @candidate.vote_logs.id.size.max >= 2  %>
 
 <h1><%= @candidate.id.name %></h1>
 
 <ul>
   <li>party: <%= @candidate.id.party %></li>
   <li>age: <%= @candidate.id.age %></li>
   <li>politics: <%= @candidate.id.politics %></li>
 </ul>
 
<% else %>
 
<h1>投票尚未完成</h1>
<h3>有人還沒完成投票，目前沒有結果，請稍待！</h3>
<h3>待投票完成後，重新整理畫面，謝謝！</h3>
 
<% end %>
</div>
<%
=end%>



<table class="table">
  <thead>
    <tr>
      <td>選項名稱</td>
      <td>年份</td>
      <td>類型</td>
      <td>內容</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <% @candidate.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.age %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.politics %></td>
      <td>
        <%= link_to "編輯", edit_candidate_path(candidate) %>
        <%= link_to "刪除", candidate_path(candidate), method: "delete", data: { confirm: "確認刪除" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "新增選項", new_candidate_path %>
<div class="mb-5">





